{% extends 'dwallet/base.html' %}

{% block content %}


{% if error %}
{{error}}
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</ul>
{% endif %}
<div class = "container">
    <form class="centerform" method = "POST" action="{% url 'signup' %}">
        <h1> Signup </h1>
        <br>
        {% csrf_token %}
        {{form.username}}
        <br>
        {{form.first_name}}
        {{form.last_name}}
        <br>
        {{form.email}}
        <br>
        {{form.password1}}
        <br>
        {{form.password2}}
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}

