.navitem a{
    padding: 20px 20px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: white;
}

.navitem:hover{
    background-color: #c8ead9;
}

.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5AC18E;
}

.navpadright {
    padding-right: 5%;
}

.right {
    float: right;
}

.center {
    position: absolute;
    width: 50%;
}

.centerform {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}

.authinput {
    margin: 1%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid #5AC18E;
}

.authinput:focus {
    background-color: #e5f5e9;
    font-size: 110%;
}

.profileimagenav{
    text-align: center;
    padding: 5px 20px;
}

.profileimagenav:hover{
    background-color: #c8ead9;
}

.profileimage {
    border-radius: 50%;
    display: inline-block;
    width: 60px;
    height: 60px;
}